* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #7695EC;
  --secondary-color: #FFFFFF;
  --color-cancel: #FF5151;
  --color-confirm: #47B960;
}

.App {
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

}